$primary: linear-gradient(to left top, green, rgb(145, 255, 0));
$background: #333;
$images: linear-gradient(to left top, green, rgba(53, 160, 21, 0.432) 60%);

::-webkit-scrollbar{
    display: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(73, 73, 73);
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: url('../bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    .main-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        
        .main1{
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
    
            
            .img{
                background: url('../img.jpg');
            
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                
                width: 230px;
                height: 300px;
                border-radius: 70% 0 70% 0;
                box-shadow: 0 0 20px 10px rgba(228, 224, 224, 0.404);
        
            }
            .links {
                width: 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                a{color: inherit;}
                i{
                    color: #fff;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 3.5rem;
                    &:hover{
                        transition: 0.44s ease-in-out;
                        transform: scale(1.3);
                        color: white;
                    }
                }

            }
            .btn-modal{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                .about{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 1rem;
                    .about-modal{
                        width: 100%;
                        padding: 10px;
                        font-size: x-large;
                        border: none;
                        border-radius: 18px;
                        transition: transform .5s ease-in-out;
                        transform: scale(1);
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
        .main2{
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            // z-index: 1;
            margin: 0;
            .modal{
                width: 100%;
                height: 100%;
                font-size:large;
                text-align: center;
                position: fixed;
                display: none;
                z-index: 2;
                .info{
                    background-color: rgba(255, 255, 255, 0.945);
                    box-shadow: 0 0 20px 0;
                    border-radius: 1.5rem;
                    padding: 1.4rem;
                    width: 55%;
                    // height: 100%;
                    margin: auto;
                    .p-center{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        // margin: 0;
                    }
                    .modal-header{
                        width: 100%;
                        margin-right: 0;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        h1{
                            width: 96%;
                        }
                        span{
                            width: 4%;
                            margin-right: 0;
                            font-size: x-large;
                            font-weight: 700;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

main{
    letter-spacing: 1.5px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
        margin-top: 3%;
    }

    .portofolio{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        article{
            display: flex;
            align-items: center;
            overflow: hidden;
            .card{
                width: 300px;
                height: 200px;
                padding: 0 0 0 15px;
                background-image: $images;
                border-radius: 10px;
                h2{
                    text-align: center;
                    padding: 10px 0 0 0;
                    color: #fff;
                }
                h3{
                    padding: 10px 0 0 0; 
                }
                .link{
                    text-align: center;
                    font-size: 1.8rem;
                    padding: 20px 0 0 0;
                    
                }
            }
        }
    }
}

section{
    background-image: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .skills{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        i{
            font-size: 3.5rem;
            text-align: center;
            letter-spacing: 1px;
            p{
                font-size: 0.8rem;
            }
            &:hover{
                color: white;
            }
        }
    }
}

article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0  25px 0 ;
    #article{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .contact{
            width: 30%;
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                border: 3px solid;
                border-image: $primary 1;
                text-align: start;
                gap: 8px;
                padding: 10px;
                display: flex;

                label{
                    background-color: #fff;
                    z-index: 1;
                    font-size: 18px;
                    padding: 7px;
                    border-radius: 20px;
                    margin: 0 0 -20px 0;
                }
                input{
                    cursor: pointer;
                    height: 35px;
                    width: 100%;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    background-color: rgb(241, 232, 232);
                    padding: 5px;
                    font-size: 1rem;
                }
                #message{
                    cursor: pointer;
                    background-color: rgb(241, 232, 232);
                    width: 100%;
                    height: 8rem;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                }
                button{
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    width: 100%;
                    height: 3rem;
                    font-size: 1.3rem;
                    background-image: $primary;
                    transition: transform 0.5s ease-in-out;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
        
    }
}

footer{
    background-color: $background;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 1.5px;
}

@media (min-width:770px) and (max-width: 1200px){
    main{
        .portofolio{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 770px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    header{
        display: flex;
        flex-direction: column;
        width: 100%;
        .main-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            .main1{
                width: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                align-content: center;
                align-items: center;
                flex-direction: column-reverse;
                img{
                    order: 2;
                }
                .links{
                    width: 100%;
                    order: 1;
                    display: flex;
                    flex-direction: row;
                    margin-top: 5vh;
                }
                .btn-modal{
                    margin: 0;
                    flex-direction: column;
                    align-content: center;
                    width: 50%;
                    align-content: center;
                    .about{
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        button{
                            width: 100%;
                            margin-top: 20px;
                        }
                    }
                }
            }
            .main2{
                width: 100%;
                height: 50%;
                .modal{
                    width: 90%;
                    .info{
                        width: 100%;
                        .p-center{
                            width: 100%;
                            p{
                                padding: 10px;
                                text-align: start;
                            }
                        }
                    }
                }
            }
        }
    }

    main{
        width: 100%;
        display: flex;
        h2{
            width: 100%;
            margin: 15px 0 15px 0;
            padding: 0 15px 0 15px;
            text-align: center;
        }
        .portofolio{
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            article{
                width: 100%;
                .card{
                    width: 90%;
                    padding: 10px;
                    h3, h4{
                        padding: 1rem 0 1rem 1rem;
                        
                    }
                    
                }
            }
            
        }
    }

    section{
        width: 100%;
        .skills{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            gap: 15px;
            i{
                font-size: 40px;
                p{
                    padding: 5px;
                }
            }
        }
    }

    article{
        width: 100%;
        display: flex;
        flex-direction: column;
        #article{
            width: 100%;
            .header{
                margin: 0 0 2rem 0;
                h2{
                    margin: 0 0 1rem 0;
                }
            }
            .contact{
                width: 75%;
            }
        }

    }

    footer{
        width: 100%;
        padding: 20px;
    }
}