$primary: linear-gradient(to left top, green, rgb(145, 255, 0));
$background: #333;
$images: linear-gradient(to left top, green, rgba(53, 160, 21, 0.432) 60%);

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(73, 73, 73);
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    .main-container{
        background-image: $primary;
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        padding-bottom: 20px;
        width: 100%;
        height: 80%;
        .main1{
            // text-align: center;
            // align-content: center;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            img{
                border-radius: 70% 0 70% 0;
                box-shadow: 0 0 20px 0;
                opacity: 0.9;
                &:hover{
                    transition: 0.4s ease-in-out ;
                    opacity: 1;
                }
            }
            .links {
                width: 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                a{color: inherit;}
                i{
                    cursor: pointer;
                    text-align: center;
                    padding-top: 20px;
                    font-size: 3rem;
                    word-spacing: 10px;
                    &:hover{
                        transition: 0.44s ease-in-out;
                        color: white;
                    }
                }

            }
            .about{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 1rem;
                .about-modal{
                    width: 100%;
                    padding: 10px;
                    font-size: x-large;
                    border: none;
                    border-radius: 18px;
                    transition: transform .5s ease-in-out;
                    transform: scale(1);
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
        .main2{
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            z-index: 1;
            margin: 0;
            .info{
                width: 50%;
                .modal{
                    display: none;
                    font-size:large;
                    border-radius: 1.5rem;
                    box-shadow: 0 0 20px 0;
                    background-color: rgba(255, 255, 255, 0.945);
                    padding: 1.1rem;
                    width: 100%;
                    .p-center{
                        text-align: center;
                    }
                    .modal-header{
                        width: 100%;
                        margin-right: 0;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        h1{
                            width: 96%;
                        }
                        span{
                            width: 4%;
                            margin-right: 0;
                            font-size: x-large;
                            font-weight: 700;
                            cursor: pointer;
                        }
                    }
                    .service{
                        width: 50%;
                        display: flex;
                        ul{
                            li{
                                list-style-type: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

main{
    letter-spacing: 1.5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .portofolio{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // flex-direction: row;
        // justify-content: space-evenly;
        article{
            cursor: pointer;
            display: flex;
            align-items: center;
            overflow: hidden;
            .card{
                text-align: center;
                padding: 0px;
                width: 200px;
                height: 200px;
                perspective: 1000px;
                margin: auto;
                border-radius: 10px;
                color: #fff;
                background-image: $images;
                transition: transform 1s;
                    transform-style: preserve-3d;
                    &:hover{
                        transform: rotateX(-180deg);
                    }
                .inner{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    text-align: center;
                    border-radius: 10px;
                    transition: transform 1s;
                    transform-style: preserve-3d;
                    .front, .back{
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        backface-visibility: hidden;
                        h3{
                            padding: 3px;
                        }
                    }
                    .front{
                        background-image: url('/Reservia.png');
                        background-size: 150px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .one{
                        background-image: url('/img3.png');
                    }
                    .two{
                        background-image: url('/img4.png');
                    }
                    .three{
                        background-image: url('/movie.png');
                    }
                    .four{
                        background-image: url('/rgbgame.png');
                    }
                    .five{
                        background-image: url('/weather.png');
                    }
                    .back{
                        background-image: $images;
                        position: absolute;
                        border-radius: 10px;
                        transform: rotateX(180deg);
                        p{
                            width: 90%;
                            margin-top: 40px;
                            display: inline-block;
                            color: #fff;
                        }
                        .fa-link{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

section{
    background-image: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .skills{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        i{
            font-size: 3.5rem;
            text-align: center;
            letter-spacing: 1px;
            p{
                font-size: 0.8rem;
            }
            &:hover{
                color: white;
            }
        }
    }
}

article{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 0  25px 0 ;
    #left{
        width: 60%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .box{
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 320px;
            overflow: hidden;
            box-shadow: 0 0 20px 0;
            border-radius: 20px;
            opacity: 0.8;
            transition: transform all ease-in-out;
            &:hover{
                opacity: 0.9;
                transition: all 1s ease-in-out;
                transform: scale(1.1);
            }
            &:hover .icons {
                transform: translateY(-140px);
                transition-duration: 1s;
                background-color: rgba(49, 46, 42, 0.712);
            }
            .iconsBox{
                color: #fff;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                text-align: center;
                align-items: center;
                font-size: 2.3rem;
                padding: 10px;
                margin-top: 5px;
                a{
                    color: inherit;
                    &:hover{
                        color: green;
                        transform: scale(1.4);
                    }
                }
            }
            .connect {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                color: #fff;
                padding: 10px;
                margin-left: 10px;
                p{
                    margin: 5px;
                }
            }
        }
    }
    aside{
        width: 40%;
        display: flex;
        justify-content: center;
            form{
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                border: 3px solid;
                border-image: $primary 1;
                text-align: start;
                gap: 8px;
                padding: 10px;
                display: flex;

            label{
                background-color: #fff;
                z-index: 1;
                font-size: 18px;
                padding: 7px;
                border-radius: 20px;
                margin: 0 0 -20px 0;
                }
            input{
                cursor: pointer;
                height: 35px;
                width: 100%;
                border: none;
                outline: none;
                border-radius: 10px;
                background-color: rgb(241, 232, 232);
                padding: 5px;
                font-size: 1rem;
                }
            #message{
                cursor: pointer;
                background-color: rgb(241, 232, 232);
                width: 100%;
                height: 8rem;
                border-radius: 10px;
                outline: none;
                border: none;
            }
            button{
                border: none;
                outline: none;
                border-radius: 10px;
                width: 100%;
                height: 3rem;
                font-size: 1.3rem;
                background-image: $primary;
                transition: transform 0.5s ease-in-out;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }

    }
}

footer{
    background-color: $background;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 1.5px;
}

@media (max-width: 764px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    header{
        display: flex;
        flex-direction: column;
        width: 100%;
        .main-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            .main1{
                width: 100%;
                margin: 0;
                padding: 0;
            }
            .main2{
                width: 95%;
                .info{
                    width: 100%;
                    text-align: center;
                    align-content: center;
                }
            }
        }
    }

    main{
        width: 100%;
        display: flex;
        h2{
            width: 100%;
            margin: 15px 0 15px 0;
            padding: 0 15px 0 15px;
            text-align: center;
        }
        .portofolio{
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 90%;
            article{
                width: 100%;
                .card{
                    width: 100%;
                    .inner{
                        width: 100%;
                        .back{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 30px;
                            .text{
                                text-align: center;

                                width: 100%;

                            }
                            i{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    section{
        width: 100%;
        .skills{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            gap: 15px;
            i{
                font-size: 40px;
                p{
                    padding: 5px;
                }
            }
        }
    }

    article{
        width: 100%;
        display: flex;
        flex-direction: column;
        #left{
            width: 100%;
            margin: 0 0 30px 0;
            .header{
                padding: 20px;
                h2{
                    padding: 10px;
                }
            }
            
        }
        aside{
            width: 100%;
            textarea{
                padding: 15px;
            }
        }
    }

    footer{
        width: 100%;
        padding: 20px;
    }
}