<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap" rel="stylesheet">    
</head>
<body>
    <header>
        <div class="main-container">
            <div class="main1">
                <img src="/img.jpg %>" width="250px" alt="">
                <div class="links">
                    <a href="https://github.com/giangarof98"> <i class="fa-brands fa-github" ></i> </a>
                    <a href="https://www.linkedin.com/in/gianmarco-garofalo/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/iam_mapkyc/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="main2">
                <div class="info">
                    <h1>Hi there!</h1>
                    <p>I'm Gianmarco & I'm web developer.</p>
                    <p>Discovered coding from my brother. I decided to give it a test drive which turned into a passion for converting data to a graphical interface and ultimately providing high-quality websites.</p>
                    <p>Recently graduated with a web development associate degree. Enthusiastic about how the web works and all the software technologies that include the front-end and back-end environment.</p>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div>
            <h2>Technical projects</h2>
        </div>
        <div class="portofolio">
            <article>
                <div class="card">
                    <div class="inner">
                        <div class="front">
                            <!-- <h3>Reservia</h3> -->
                        </div>
                        <div class="back">
                            <div class="text">
                                <p>Design based in Airbnd where users can travel and choose destination</p>
                            </div>
                            <a href="https://giangarof98.github.io/reserviaMockup/"><i class="fa-solid fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="card">
                    <div class="inner">
                        <div class="front one">
                            <!-- <h3>OhMyFood</h3> -->
                        </div>
                        <div class="back">
                            <div class="text">
                                <p>Project based in restaurant menu where users can select a restaurant and dishes</p>
                            </div>
                            <a href="https://giangarof98.github.io/ohmyfood/"><i class="fa-solid fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="card">
                    <div class="inner">
                        <div class="front two">
                            <!-- <h3>ShareNet</h3> -->
                        </div>
                        <div class="back">
                            <div class="text">
                                <p>Full stack solution where users can join and create publications</p>
                            </div>
                            <a href="https://shareforce.herokuapp.com/login"><i class="fa-solid fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </main>

    <section>
        <h1>Skills</h1>
        <div class="skills">
            <i class="fa-brands fa-html5"><p>HTML:5</p></i>
            <i class="fa-brands fa-css3"><p>CSS3</p></i>
            <i class="fa-brands fa-js"><p>Javascript</p></i>
            <i class="fa-brands fa-node-js"><p>Node.js</p></i>
            <i class="fa-brands fa-bootstrap"><p>Bootstrap</p></i>
            <i class="fa-solid fa-database"><p>MongoDB / MySQL</p></i>
            <i class="fa-brands fa-vuejs"><p>Vue.js</p></i>
        </div>
    </section>

    <footer>
        <p>Copyright <i class="fa-solid fa-copyright"></i> 2022</p>
    </footer>
</body>
</html>